<h1>Formulario</h1>
        <form [formGroup]="EquipoForm" (ngSubmit)="enviar()">
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input type="text" class="form-control" placeholder="Ingrese el id" formControlName="id">
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese el nombre del equipo"
                    formControlName="nombre">
            </div>
            <button type="submit" class="btn btn-success">Guardar equipo</button>
        </form>
        
       
